@{
    ViewBag.Title = "Sistema de Mensageria";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->

    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <h3>Resumo</h3>

            <p><b>Empresa:</b></p>
            <p>ArcelorMittal Tubarão</p>

            <p><b>Objetivo do projeto:</b></p>
            <p>Tornar o processo de distribuição das correspondências mais confiável, transparente e eficiente</p>

            <p><b>Desafio do projeto:</b></p>
            <p>Conseguir controlar as correspondências de uma empresa que possui área total de 13,5 milhões de m2. </p>

            <p><b>Solução implementada:</b></p>
            <p>Sistema de Mensageria  </p>


            <h3>Uma das maiores empresas do Brasil... </h3>

            <p>Estrategicamente localizada na região da Grande Vitória, estado do Espírito Santo, no sudeste brasileiro, a ArcelorMittal Tubarão possui uma área total de 13,5 milhões de m2, sendo que a usina ocupa 7 milhões de m2.</p>

            <p>A Companhia é servida por uma bem aparelhada malha rodo-ferroviário: Estrada de Ferro Vitória-Minas e Ferrovia Centro - Atlântica (antiga Rede Ferroviária Federal) e Rodovias BRs - 101 / 262. Também é ligada a um excelente complexo portuário dentre os mais eficientes do mundo, em que se destaca o porto de Praia Mole. </p>

            <p>Essa infraestrutura favorece o recebimento das principais matérias-primas e insumos - principalmente minério de ferro e carvão mineral - e facilita o escoamento dos produtos, sendo fornecida por um terminal para exportação de produtos siderúrgicos, com capacidade para 5,8 Mt/ano. </p>

            <p>Com toda essa estrutura interna arquitetada para comercializar 12% do volume global de placas de aço e uma carteira de clientes com cerca de 60 companias, distribuídos em 18 países, como controlar as correspondências que entram e saem da ArcelorMittal Tubarão? </p>

            <p>Para essa unidade de negócios da multinacional, só um sistema seria capaz de controlar o enorme fluxo de correspondências e foi exatamente essa solução que a ISG Sustentabilidade e Governaça desenvolveu para ArcelorMittal Tubarão.</p>

            <h3>Utilizando um sistema à altura</h3>

            <p>O Sistema de Mensageria foi desenvolvido para atender as necessidades específicas da ArcelorMittal Tubarão. O sistema tem como principal objetivo auxiliar no controle da circulação de correspondências e encomendas dentro da unidade de Tubarão, entre as unidades, além das correspondências e encomendas expedidas e recebidas pela empresa feitas via correios, DHL e outras transportadoras.</p>

            <p>O sistema aperfeiçoou as ferramentas de registro e rastreamento de correspondências recebidas, e disponibilizou novos recursos para registro de documentos internos e expedidos. Esses recursos estão disponíveis em dois “ambientes”, denominados Interface Interna e Externa. A Interface Interna é a área disponível para usuários com perfil administrador, onde estão disponíveis os campos de cadastro básico, controle e relatórios. Já Interface Externa é o “ambiente” onde estão disponíveis os recursos de envios individuais (usuário x usuário), envio em lote (uma procedência x vários destinatário), entrega especial (uma procedência x todos os empregados), acompanhamento, rastreamento, controle de pendências e manual. </p>

            <p>Os recursos do sistema possibilitaram a substituição de antigas ferramentas como o Livro de Protocolo, redução da utilização de papel e possibilitou a identificação das áreas ou empregados que remetem correspondências externas. A solução criada pela ISG Consultoria e Sistemas também reduziu a perda de tempo nos processos internos da Mensageria, trouxe controle para circulação de correspondências internas e aumentou o controle do próprio usuário. </p>

            <p>A função como o envio em lote trouxe muitos benefícios para áreas como o RH, Folha de Pagamento e Medicina do Trabalho. “Com o sistema as áreas obtiveram o suporte apropriado, tendo em vista as várias implicações que o atraso na entrega de um periódico causa para empresa”, afirma Débora Rosa André, coordenadora da área de Mensageria. “A utilização correta das funções do Sistema de Mensageria torna o processo de distribuição das correspondências mais confiável, transparente e eficiente”, acrescenta.</p>

            </p><a href="~/assets/pdf/sist_mensageria.pdf" target="_blank" class="btn btn-primary"><i class="icon-file icon-white"></i> Veja o case em PDF</a><p>

            <img align="left" alt="feature bootstrap" class=""
                src="~/assets/img/mensageria.jpg" style="margin: 10px">
        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->
