@{
    ViewBag.Title = "Sistema de Gestão de Alimentação";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->


    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <h3>Resumo</h3>

            <p><b>Empresa:</b></p>
            <p>ArcelorMittal Tubarão</p>

            <p><b>Objetivo do projeto:</b></p>
            <p>Realizar a gestão integrada do beneficio da alimentação dos empregados da ArcelorMittal Tubarão.</p>

            <p><b>Solução implementada:</b></p>
            <p>Sistema de Alimentação </p>


            <h3>Valorização do empregado</h3>

            <p>Um dos maiores conglomerados empresariais do mundo, a ArcelorMittal é líder nos principais mercados de aço, incluindo automóveis, construção, eletrodomésticos e embalagens. A valorização das pessoas e a satisfação profissional são princípios fundamentais da multinacional. Por isso, a empresa faz questão de respeitar a diversidade e desenvolver as habilidades dos 320 mil empregados em mais 60 países, contribuindo para a melhoria de suas competências em todos os níveis. Com uma visão clara do futuro, a ArcelorMittal está cada vez mais empenhada em reafirmar sua liderança, com qualidade e sustentabilidade.</p>

            <p>Dentro da política de recursos humanos, a ArcelorMittal Tubarão oferece a seus empregados um diversificado quadro de benefícios, extensivos aos familiares, com a finalidade de contribuir para a melhoria da sua qualidade de vida, proporcionando maior segurança e tranquilidade a todos. Um deles é o beneficio da alimentação subsidiada dentro das unidades de negócios, nos horários regulares e em qualquer período de hora extraordinária.</p>

            <p>Na ArcelorMittal Tubarão, a alimentação dos 4.356 empregados próprios e terceiros, é gerida pelo Sistema de Alimentação, criado em 2009 pela ISG Consultoria e Sistemas.</p>


            <h3>Um empregador de referência</h3>

            <p>Para a ArcelorMittal ser um empregador de referência é, dentre outras questões, assegurar a gestão corporativa de compartilhamento do conhecimento e a integração e intercâmbio de equipes, estimulando continuamente a adoção das melhores práticas, alinhadas à necessidade de tornar o negócio mais competitivo. Dentro desse cenário, se tornou necessário ajustar a gestão da alimentação às diretrizes de gestão da empresa. </p>

            <p>Antes de 2009, a empresa não possuía um sistema integrado de gestão da alimentação. Segundo Marcos Koehler, Analista de Serviços, a gestão do serviço era feita através de planilhas e banco de dados. “A gestão do serviço sempre existiu, mas identificamos a necessidade de integrar diversos controles feitos a partir de planilhas eletrônicas e banco de dados. Precisávamos de um sistema que fizesse interface com os demais programas da empresa, como o sistema de custos e de recursos humanos. Esse era nosso maior problema”, explica Marcos. </p>

            <p>Sob a orientação da área de Tecnologia da Informação da ArcelorMittal Tubarão a equipe encomendou um sistema para a ISG Consultoria e Sistemas. Dessa parceria foi criado o Sistema de Alimentação. </p>


            <h3>Números e relatórios</h3>

            <p>“Com a implantação do Sistema de Alimentação conseguimos acompanhar as solicitações feitas via portal de lanches e marmitas, além de ter o número de real de funcionários que passaram nas catracas dos restaurantes”, diz Marcos.</p>

            <p>As refeições as quais todos os funcionários e terceirizados têm direito são servidas nos refeitórios distribuídos pela área da companhia, ou enviadas em embalagens tipo marmitex e também são servidos lanches a qualquer horário. Marcos explica que o Sistema de Alimentação criado pela ISG proporcionou a integração dos sistemas que eles precisavam. “Ganhamos mais rapidez e agilidade principalmente na programação dos lanches. Hoje o sistema oferece aos gerentes o registro dos lanches pedidos por área, por mês e por dia. O próprio gerente tem autonomia para gerenciar os custos de alimentação dos seus funcionários e para acompanhar como a área está utilizando o beneficio alimentação”, conta Marcos. </p>

            <p>Outro benefício trazido pela implantação do sistema é a garantia do pagamento da empresa de alimentação contratada. “No caso dos lanches, sabemos ao certo o que foi realmente comprado. Essa é uma garantia para ambas as partes”, considera Marcos.</p>

            <p>Na ArcelorMittal Tubarão são servidos cerca de 200 mil lanches por mês e cerca de 200 mil refeições no mesmo período. “Com a implantação do Sistema de Alimentação conseguimos acompanhar as solicitações feitas via portal de lanches e marmitas, além de ter o número de real de funcionários que passaram nas catracas dos restaurantes”, diz Marcos. “Através desses registros, nós acompanhamos a utilização o restaurante, fazendo a previsão de reabastecimento de alimentos para os dias subseqüentes e controlando melhor os custos.”.</p>

            <p><a href="~/assets/pdf/sist_alimentacao.pdf" target="_blank" class="btn btn-primary"><i class="icon-file icon-white"></i> Veja o case em PDF</a></p>

            <img align="left" alt="feature bootstrap" class=""
                src="~/assets/img/sga.jpg" style="margin: 10px">
        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->
<!--END: CONTENT CONTAINER-->
