@{
    ViewBag.Title = "Siget";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->

    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <h3>Resumo</h3>

            <p><b>Empresa:</b></p>
            <p>Viação Águia Branca e Salutaris</p>

            <p><b>Objetivo do projeto:</b></p>
            <p>Ciar um sistema que permita a gestão eficiente do setor de Turismo da Viação Águia Branca e Salutaris.</p>

            <p><b>Desafio do projeto:</b></p>
            <p>Ter uma ferramenta que ofereça integração entre os setores, facilidade de uso, informações confiáveis e flexibilidade de adaptação para as diversas necessidades.</p>

            <p><b>Solução implementada:</b></p>
            <p>SIGET – Sistema de Gestão de Turismo</p>


            <h3>Obstinação, perseverança e qualidade</h3>

            <p>Fundado em 1946, o Grupo Águia Branca é um dos maiores conglomerados de transporte do país. Com sede no Espírito Santo e faturamento superior a dois bilhões por ano, o Grupo atua em todo o país nos serviços de transporte de passageiros, comércio e locação de veículos e logística. </p>

            <p>A gestão das empresas do Grupo é realizada por meio de Unidades de Negócios, as quais atuam de forma especializada, conforme as características de cada segmento. </p>

            <p>Com um modelo organizacional que busca valorizar as pessoas, as empresas da corporação oferecem a seus clientes alta qualidade em produtos e serviços. Para isso, investem sistematicamente em dois pólos: talento e tecnologia.</p>


            <h3>Turismo: um grande negócio</h3>

            <p>Desde 2003, o negócio de Turismo da Unidade Passageiros do Grupo Águia Branca apresenta uma grande evolução, crescente ano a ano, fruto do esforço de trabalho, da profissionalização da equipe e da gestão comercial. Porém, com a ampliação do número de bases dos setores de Turismo da Unidade Passageiros, a gestão do negócio se tornou complexa e muito trabalhosa. </p>

            <p>Até o ano de 2008 a gestão local dos serviços nesses setores - distribuídas em cinco estados diferentes, se apoiava em ferramentas ultrapassadas. Alguns dos registros eram efetuados em um sistema criado internamente na Viação Águia Branca, o qual nunca foi implantado completamente. Com esse cenário, era recorrente o uso de planilhas eletrônicas e de documentos físicos impressos, que necessitavam ser arquivados para consulta ou posterior digitação no extinto sistema.</p>

            <p>Os esforços despendidos no controle de indicadores, operação das viagens, comunicação entre os setores e demais tarefas, além dos riscos presentes tanto pela ineficiência dos processos quanto pela obsolescência das informações disponíveis, dispersavam a energia dos gerentes e diretores. Era necessário aproveitar melhor esse esforço canalizando-o à atividade principal da empresa: vendas. </p>


            <h3>Ferramenta leve, ágil, intuitiva, com total mobilidade e portabilidade</h3>

            <p>Em 2007, com o respaldo do setor de informática da empresa, a ISG Consultoria e Sistemas foi contratada para criar uma solução para Unidade Passageiros do Grupo Águia Branca. Foi nesse período que foi criado o SIGET - Sistema de Gestão de Turismo, que segundo Alexandre Rocha, gerente geral de turismo unidade passageiro Águia Branca, é uma ferramenta que materializa as práticas de sucesso da empresa na gestão do negócio de Turismo e abre um amplo leque de possibilidades para o aprimoramento de todos os processos internos de trabalho. </p>

            <p>"Obtivemos resultados bastante superiores aos almejados inicialmente, pois os ciclos contínuos de avaliação sinalizaram novas e amplas possibilidades de melhoria, só evidenciadas a partir da utilização dos recursos anteriormente indisponíveis", lembra Alexandre. "O índice de sistematização da atividade de Turismo é hoje o mais elevado entre todos os setores da empresa, e está em constante evolução", completa. </p>

            <p>Dentre as facilidades disponíveis, Alexandre ressalta: </p>

            <ul>
                <li>A conexão ao sistema ERP (DATASUL) da empresa, que possibilita acesso ao CONREC (Contas a receber), e avaliar em tempo real a qualidade do crédito dos clientes, no momento da confecção do orçamento; * Criação de um cadastro central e único de clientes, acessível a todos os setores de Turismo; </li>

                <li>Atualização diária dos indicadores em resultados consolidadas, comparativos de evolução, por período etc; </li>

                <li>Inclusão e tratamento de ocorrências sistematizado e parametrizado para atendimento direto e monitorado dos setores responsáveis; </li>

                <li>Inserção de campos para análise critica periódica dos resultados; </li>

                <li>Criação do módulo de "Gestão pela Qualidade", que permite a organização e registro de reuniões e eventos, gestão de resultados com o uso de ferramentas da qualidade, conservação e busca de informações, criação e gerenciamento de Planos de Ação. </li>

                <li>Criação de planilha de visualização rápida de indicadores, Dashboard, que oferece, em uma só página, online e com atualização diária, os principais indicadores do negócio, sumarizados por unidades de negócio, contendo análise crítica, permitindo e registrando a comunicação com outros usuários do sistema. É acessado mediante ícone na área de trabalho do computador do usuário, pelo sistema SingleSignOn. Basta um click.</li>
            </ul>

            <p><a href="~/assets/pdf/siget.pdf" target="_blank" class="btn btn-primary"><i class="icon-file icon-white"></i> Veja o case em PDF</a></p>

            <img align="left" alt="feature bootstrap" class=""
                src="~/assets/img/siget.jpg" style="margin: 10px">
        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->
