@{
    ViewBag.Title = "Desenvolvimento de Softwares";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->


    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <p>A ISG desenvolve softwares sob medida para múltiplas áreas de negócios das médias e grandes empresas a partir das necessidades específicas de cada cliente. As soluções são criadas de forma a assegurar que os clientes tenham acesso à melhor tecnologia disponível e que possam aproveitar as oportunidades do mercado e aumentar a sua produtividade.</p>

            <p>Os softwares são desenvolvidos em parceria com os clientes com base na cultura, nos valores e nas práticas de gestão da empresa na qual serão implantadas. Como resultado desta forma de trabalho, os clientes participam ativamente de todas as fases dos projetos, desde o início até a verificação dos resultados.</p>

            <p>Conheça algumas soluções já criadas pela ISG.</p>
            <ul>
                <li>Controle de transporte</li>

                <li>Telecomunicações</li>

                <li>Controle de turismo</li>
                <li>Equipamentos industriais</li>
                <li>Gestão de projetos</li>
                <li>Gestão de alimentação</li>
                <li>Correio eletrônico corporativo</li>
            </ul>
        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->

