@{
    ViewBag.Title = "Sistema de Informação Geográfica";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->

    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <p>O Sistema de Informação Geográfica (SIG ou GIS - Geographic Information System) é uma ferramenta que permite trabalhar com informação geográfica, integrando e sobrepondo vários tipos de informações. O GIS facilita a análise, gestão ou representação do espaço e dos fenômenos que nele ocorrem, pois os mapas proporcionam aos usuários dos diversos setores das corporações a visualização da informação e do conhecimento gerado.</p>

            <p>Usuária GIS desde 2003, o Grupo INFLOR realiza projetos baseados em GIS para grandes empresas como Fibria, VALE, Votorantim, StoraEnso, Suzano e Conpacel. Tais projetos englobam aplicações para:</p>

            <ul>
                <li>Dispositivos móveis: levantamento e manutenção de dados em campo com auxílio de GPS;</li>

                <li>Desktop: Validação de cadastro de informações geográficas, análise espacial e histórico de modificações;</li>

                <li>Web: Portal de mapas, mapas temáticos em tempo real, mapas distribuídos via e-mail.</li>
            </ul>

            <p>Em 2011 o grupo INFLOR foi credenciado como parceiro Gold da Esri, principal desenvolvedora da tecnologia GIS no mundo. As empresas denominadas parceiros Gold da Esri possuem domínio de um ou mais segmentos de indústrias com soluções ou serviços baseados em produtos Esri. Para conseguir ingressar nesse grupo, a INFLOR foi qualificada em relação às atividades comerciais e a reconhecida excelência do Sistema de Gestão Florestal desenvolvido continuamente nos últimos anos. Dessa forma o Grupo INFLOR se tornou o primeiro EPN Gold no Brasil e o primeiro e EPN Gold do setor florestal no mundo.</p>

        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->
