@{
    ViewBag.Title = "SISPART";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->

    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
        <h3>Como a sua Empresa, Instituição ou Fundação controla, analisa e mensura o Investimento Social Privado?</h3>

        <p>Sistema de Partes Interessadas, SISPART, é uma ferramenta de gestão desenvolvida para controlar, analisar e mensurar o Investimento Social Privado (ISP) de Institutos, Fundações e Empresas. Ele monitora e direciona os recursos privados aplicados em projetos de interesse social, priorizando o diálogo entre os stakeholders e a transparência em todas as etapas.</p> 

        <p>Com o SISPART as solicitações de doações e apoio a programas, projetos e patrocínios recebidos das mais variadas formas pelos Institutos, Fundações e Empresas são administradas pelo sistema, que mantém sempre segura e disponível todas as informações referentes a cada processo. </p>

        <p>Como a interface do SISPART está na internet, os envolvidos podem acessar o sistema de qualquer computador e de qualquer lugar, o que garante agilidade nas análises das demandas. A visualização do Investimento Social pode ser feita em diversas moedas e idiomas.</p>

        <h3>1   SISPART – Recursos Principais</h3>
        <h4>1.1	Fluxo eletrônico para análise, aprovação e acompanhamento de demandas</h4>
        <p>É desenhado um fluxo eletrônico, facilmente adaptado as necessidades do negócio od ISP, que permite que a equipe responsável pela gestão social possa realizar as análises, aprovações e acompanhamento das demandas.</p>

        <h4>1.2	Recebimento de Demandas</h4>
        <p>As demandas de apoios a programas, projetos e patrocínios são recebidas pelo sistema e prontamente categorizadas de acordo com filtros e linhas de investimentos sociais previamente definidos. Esse processo também pode acontecer através do módulo “Portal do Solicitante”, canal público que estrita a comunicação com os stakeholders e aumenta a transparência do ISP. </p>

        <h4>1.3	Follow up físico e financeiro </h4>

        <p>O SISPART controla a entrada e saída de bens materiais e de recursos financeiros para os projetos sociais. Durante a execução de um projeto de ISP, qualquer revisão do planejado poderá passar por um fluxo simplificado de aprovação, resultando na atualização do baseline, ou seja, em um novo cronograma executivo e financeiro.</p> 

        <h4>1.4	Estatísticas do Investimento Social</h4>

        <p>No SISPART as informações do ISP podem ser extraídas e analisadas pelas mais diversas óticas, como Áreas de Investimento, Tipos de Beneficiários, Regiões Geográficas, Tipos de Demandas, Capital Investido, etc.</p> 
        <p>A análise dos dados das demandas em uma mesma base de comparação permite a avaliação da efetividade do ISP, possibilitando a identificação das melhores práticas, que poderão ser aplicadas nos novos projetos.</p>


        <h4>1.5	Mapas do Investimento Social</h4>
        <p>O SISPART oferece a possibilidade de apresentação do Investimento Social em mapas.</p> 
        <p>Esta forma de visualização facilita a identificação, compreensão e abrangência do ISP feito pelos Institutos, Fundações e Empresas, causando grande impacto visual da abrangência do ISP.</p>


        <p>O uso de ferramentas</p> 

        <h3>2   MÓDULOS DO SISPART</h3>
        <h4>2.1	Portal do Solicitante</h4>

        <p>O Portal do Solicitante é uma ferramenta de centralização e controle onde as demandas de doações e apoios a programas, projetos e patrocínios, bem como as prestações de contas são inseridas diretamente pelos Stakeholders.</p>

        <p>Através do Portal do Solicitante, os beneficiários podem fazer a inclusão de documentos, relatórios de acompanhamento, arquivos fotográficos, notas fiscais e outros comprovantes, agilizando a prestação de contas dos investimentos realizados durante o período vigente.</p>



        <h4>2.2	Redução da subjetividade da análise </h4>

        <p>A transparência é um dos pilares da mensuração do Investimento Social Privado. Com o SISPART as diversas solicitações recebidas são ranqueadas baseadas em uma escala de valores pré determinados pelos Institutos, Fundações e Empresas.</p> 

        <h4>2.3	Avaliação da eficácia</h4>
        <p>Com informações armazenadas no SISPART, é possível cruzar os dados e estudar a relação valor investido e resultados alcançados, consolidando as melhores práticas. </p> 

        <h4>2.4	Orçamentos</h4>
        <p>É possível gerenciar a composição, aprovação e follow-up dos orçamentos nas diferentes áreas de investimentos e unidades de negócios. </p> 

        <h4>2.5	Módulo – Relatório Dinâmico</h4>
        <p>Além dos mais de 50 templates de relatórios que acompanham o SISPART, o módulo “Relatório Dinâmico” permite a criação de relatórios customizados com o cruzamento das mais diversas informações.</p> 
        <h4>2.6	Matriz de Materialidade</h4>
        <p>É possível identificar e priorizar questões e indicadores que refletem, de forma significativa, os impactos sociais, ambientais e econômicos.</p> 

        <h4>2.7	Portal de Ouvidoria (Ombudsman)</h4>
        <p>Permite que qualquer pessoa possa fazer uma reclamação anônima ou não e também encaminhar suas sugestões aos institutos, fundações e empresas.  </p> 

        <h4>2.8	Imagem da Corporação</h4>

        <p>Ferramenta estatística que permite visualizar qual é a imagem que a população e as comunidades atendidas têm a respeito dos investidores sociais.  A informação é obtida através de pesquisa de campo.</p> 


        <blockquote>
            <p>O SISPART desenvolvido pela ISG permite a Fundação ArcelorMittal ter um monitoramento e gestão em tempo real de mais de 550 projetos desenvolvidos em 27 países.</p>
             <footer>— João Bosco Reis da Silva - Gerente de projetos da Fundação ArcelorMittal </footer>
        </blockquote>

            <br />

        <blockquote>
            <p>Rapidez na geração dos relatórios, mantendo sempre disponível e segura todas as informações referentes a cada processo. Isso é o SISPART.</p>
            <footer>— Robson Leite Nascimento, gerente relações com a comunidade da Fibria - Unidade Aracruz</footer>
        </blockquote>
            <br />
        
        <blockquote>
            <p>O SISPART nos trouxe a certeza: é possível ter controle sobre o investimento social privado e visibilidade dos resultados.</p>
            <footer>— Sidemberg Rodrigues, gerente de comunicação da ArcelorMittal Tubarão</footer>
        </blockquote>


        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->

