@{
    ViewBag.Title = "Notícias";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->


    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <p>Em desenvolvimento!</p>
        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->

