@{
    ViewBag.Title = "Onde Estamos";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    //ViewBag.Background = "/assets/img/blured6.jpg";
}

<div class="container">
    <!--TITLE-->


    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12">
            <img style="display: block;margin-left: auto;margin-right: auto;" src="~/images/onde_Estamos.png" />
        </div>
        <!-- END IMAGE -->
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
<!-- ################ -->

