@{
    ViewBag.Title = "Institucional";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <!--TITLE-->


    <!-- ################ -->
    <!-- CONTAINER  FEATURE -->
    <!-- ################ -->

    <div class="row-fluid">
        <!-- FEATURE -->

        <div class="span12" style="text-align: justify">
            <img class="pull-left span4" style="margin: 0 30px 30px 0" src="~/assets/img/gisagri/office.png" />
            <p>
                Fundada em 1994, a ISG Consultoria e Sistemas tem três
                    linhas de atuação no mercado de tecnologia:
            </p>

            <ol>
                <li>Realiza o desenvolvimento de softwares
                        especializados sob medida para grandes e médias
                        corporações, desde o diagnóstico e levantamento de
                        requisitos até a sua implantação e operação
                        assistida.</li>

                <li>Atua na área de Investimento Social Privado, ISP,
                        oferecendo uma ferramenta de gestão com foco no
                        relacionamento com as partes interessadas e no controle
                        dos processos envolvidos.</li>

                <li>Desenha soluções baseadas no Sistema de Informações
                        Geográficas, GIS.</li>
            </ol>

            <p>
                No segmento de desenvolvimento de Software a ISG adota
                    as melhores práticas de desenvolvimento de sistemas
                    alinhadas às demandas de negócio de seus clientes, o que
                    garante o cumprimento de prazos e qualidade dos recursos
                    financeiros negociados. A equipe da ISG é orientada para
                    entender o problema do cliente e criar soluções duradouras
                    que agreguem valor aos processos dos clientes.
            </p>

            <p>
                O desenvolvimento do Sistema de Partes Interessadas,
                    SISPART, marcou a entrada da ISG na área de
                    Responsabilidade Social. Através de uma parceria
                    estabelecida com a ArcelorMittal Tubarão, a ISG desenvolveu
                    uma ferramenta para gestão do Investimento Social Privado,
                    que possibilita controlar, analisar e mensurar os
                    resultados desses investimentos. O produto é inovador,
                    testado e aprovado por usuários em mais de 27
                    países.
            </p>

            <p>
                Usuária GIS desde 2003, o Grupo INFLOR realiza projetos
                    baseados em GIS para grandes empresas como Fibria, VALE,
                    Votorantim, StoraEnso, Suzano e Conpacel. Tais projetos
                    englobam aplicações para:
            </p>

            <ul>
                <li>Dispositivos móveis: levantamento e manutenção de
                        dados em campo com auxílio de GPS;</li>

                <li>Desktop: Validação de cadastro de informações
                        geográficas, análise espacial e histórico de
                        modificações;</li>

                <li>Web: Portal de mapas, mapas temáticos em tempo
                        real, mapas distribuídos via e-mail.</li>
            </ul>

            <p>
                Por acreditar que sucesso é também resultado de
                    investimento em desenvolvimento humano, a ISG Consultoria e
                    Sistemas investe na formação de equipes multidisciplinares
                    capazes de encontrar e desenvolver as melhores soluções
                    para atender as demandas dos clientes.
            </p>
        </div>
        <!-- END IMAGE -->

        <div class="span12">
            <hr class="half">
        </div>
    </div>
    <!-- ################ -->
    <!-- END: CONTAINER  FEATURE -->
    <!-- ################ -->
</div>
