@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container">
    <!--<h2 class="line center"> <span>Best features!</span></h2>-->

    <div class="row-fluid">
			
		<!-- ITEM -->
		<div class="span6">
            <div class="pricing-table">
                <div class="pricing-table-space"></div>
                <div class="pricing-table-features">
                    <div class="span12 clients_rotator_widget_wrap">
                        <ul class="slides text-center">
                            <li class="slide">
                                <div class="span12">
                                    <img alt="" style="display:block;margin:auto;padding:10px;" src="~/images/client_part/Cli_ArcelorMittal.png">
                                </div>
                                <div class="span12" style="margin-left: -3px;">
                                    <p>"Eu indicaria a ISG pela competência das suas soluções, desempenho e honestidade de seus colaboradores."</p>
                                    <p><i>Rogério Santos Gonçalves, Analista de Sistemas da ArcelorMittal Tubarão</i></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/Cli_Fibria.png">
                                </div>
                                <div class="span12" style="margin-left: -3px;">
                                    <p>"Indicaria a ISG por ser uma empresa ética, profissional e competente, tendo como principal diferencial o atendimento personalizado ao cliente."</p>
                                    <p><i>Robson Leite Nascimento, gerente de Relações com Comunidade da Fibria</i></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/Cli_AndreMaggi.png">
                                </div>
                                <div class="span12" style="margin-left: -3px;">
                                    <p>"Avalio que a relação com a equipe da ISG é muito positiva. O SISPART nos ajudou muito na organização do processo de recebimento das demandas e isso trouxe certamente um amadurecimento na nossa forma de realizar o investimento social."</p>
                                    <p><i>Aletéa Rufino,coordenadora de Projetos e Redes Sociais da Fundação Andre Maggi</i></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/Cli_AguiaBranca.png">
                                </div>
                                <div class="span12" style="margin-left: -3px;">
                                    <p>"O gerente que nos atente é muito cordial. Estamos muito bem servidos e somos sempre atendidos com cordialidade e proatividade"</p>
                                    <p><i>Hudson, gerente do Grupo Águia Branca</i></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-controls-clients" style="padding-top:40px;"></div>
            </div>
		</div>
		<!-- END ITEM -->

        <!-- ITEM -->
		<div class="span6">
            <div class="pricing-table">
                <div class="pricing-table-space"></div>
                <div class="pricing-table-features">
                    <div class="span12 portfolio_rotator">
                        <ul class="slides" style="font-size:14px; text-align:justify;">
                            
                            @*<li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/Cli_Fibria.png">
                                </div>
                                <div class="span11">
                                    <p>Líder mundial na produção de celulose de eucalipto, a Fibria possui capacidade produtiva de 5,3 milhões de toneladas anuais de celulose, com fábricas localizadas em Três Lagoas (MS), Aracruz (ES), Jacareí (SP) e Eunápolis (BA), onde mantém a Veracel em joint venture com a Stora Enso. Em sociedade com a Cenibra, opera o único porto brasileiro especializado em embarque de celulose, Portocel (Aracruz, ES).</p>
                                    <p><a href="www.fibria.com.br" target="_blank" class="btn btn-primary">Veja mais</a></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/logo_suzano.gif">
                                </div>
                                <div class="span11">
                                    <p>Empresa com 89 anos de existência e trajetória marcada pela busca constante do desenvolvimento sustentável. Opera hoje no segmento de celulose de eucalipto, comercializada em 31 países, e papel, para imprimir e escrever (revestidos e não revestidos) e cartão, com quatro linhas e cerca de 30 marcas, vendidos em 60 países.</p>
                                    <p><a href="www.suzano.com.br" target="_blank" class="btn btn-primary">Veja mais</a></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/Cli_CMPC.png">
                                </div>
                                <div class="span11">
                                    <p>A Celulose Riograndense, parte do grupo CMPC, é uma empresa gaúcha presente no mercado internacional de celulose de fibra curta de eucalipto. Ela conta com uma fábrica no município de Guaíba que ocupa hoje uma área de 106 hectares e investe no cultivo de florestas como fonte de suprimento de matéria-prima sustentável, a fim de produzir riquezas para o estado do Rio Grande do Sul e seus cidadãos.</p>
                                    <p><a href="www.celuloseriograndense.com.br" target="_blank" class="btn btn-primary">Veja mais</a></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/logo_cargill.png">
                                </div>
                                <div class="span11">
                                    <p>No Brasil desde 1965, a Cargill é uma das maiores indústrias de alimentos do País. Com sede em São Paulo (SP), a empresa está presente em 14 Estados brasileiros por meio de unidades industriais e escritórios em cerca de 141 municípios e mais de 9 mil funcionários.</p>
                                    <p><a href="www.cargill.com.br" target="_blank" class="btn btn-primary">Veja mais</a></p>
                                </div>
                            </li>

                            <li class="slide">
                                <div class="span12">
                                    <img style="display:block;margin:auto;padding:10px;" alt="" src="~/images/client_part/logo_icea.png">
                                </div>
                                <div class="span11">
                                    <p>O Instituto C&A é uma organização sem fins lucrativos de interesse público, dedicada a promover e qualificar o processo de educação de crianças e adolescentes no Brasil.</p>
                                    <p>O Instituto C&A foi fundado em 5 de agosto de 1991, em resposta ao desejo dos acionistas da rede de lojas C&A de institucionalizar sua política de investimento social no país. Uma das premissas do trabalho foi atuar no campo da educação de crianças e adolescentes . Outra foi o envolvimento de funcionários da C&A em um programa de voluntariado.</p>
                                    <p><a href="http://www.institutocea.org.br" target="_blank" class="btn btn-primary">Veja mais</a></p>
                                </div>
                            </li>*@

                            <li class="slide" style="line-height:15px;">
                                <h2 class="text-center">Gestão de Mensageria</h2>
                                <br />
                                <br />
                                <p><b>Objetivo do projeto:</b></p>
                                <p>Tornar o processo de distribuição das correspondências mais confiável, transparente e eficiente</p>

                                <p><b>Desafio do projeto:</b></p>
                                <p>Conseguir controlar as correspondências de uma empresa que possui área total de 13,5 milhões de m2. </p>
                                <p><a href="@Url.Action("Mensageria","Cases")" class="btn btn-primary">Veja mais</a></p>
                            </li>

                            <li class="slide" style="line-height:15px;">
                                <h2 class="text-center">Gestão de Turismo</h2>
                                <br />
                                <br />
                                <p><b>Objetivo do projeto:</b></p>
                                <p>Ciar um sistema que permita a gestão eficiente do setor de Turismo da Viação Águia Branca e Salutaris.</p>

                                <p><b>Desafio do projeto:</b></p>
                                <p>Ter uma ferramenta que ofereça integração entre os setores, facilidade de uso, informações confiáveis e flexibilidade de adaptação para as diversas necessidades.</p>
                                <p><a href="@Url.Action("Siget","Cases")" class="btn btn-primary">Veja mais</a></p>
                            </li>

                            <li class="slide" style="line-height:15px;">
                                <h2 class="text-center">Gestão de Alimentação</h2>
                                <br />
                                <br />

                                <p><b>Objetivo do projeto:</b></p>
                                <p>Realizar a gestão integrada do beneficio da alimentação dos empregados da ArcelorMittal Tubarão.</p>
                                <p><a href="@Url.Action("Sga","Cases")" class="btn btn-primary">Veja mais</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-controls-portifolio" @*style="top: 300px;right: 10px;position: relative;"*@></div>
            </div>
		</div>
        <!-- END ITEM -->
	</div>
    <!-- END Carousel Cases-->


    <div class="row-fluid">
        <!--- ########### ## -->
        <!--- IN THE NEWS ## -->
        <!--- ########### ## -->

        <div class="span12">
            <div class="">
                <div class="color-bottom-line">
                    <h3 class="line2 center standart-h3title">
                        <span>Notícias</span></h3>
                </div>
                <style type='text/css'>
                .fi_container {
                    width:100%;overflow:hidden;
                }
 
                .fi_container .fb_iframe_widget, .fi_container .fb_iframe_widget span, .fi_container .fb_iframe_widget span iframe[style] {
                    width:100% !important;
                }
                </style>
                <div id="fb-root"></div>
                <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
 
                <div class="fi_container">
                    <div class="fb-like-box" data-href="https://www.facebook.com/InflorConsultoriaESistemas" data-show-faces="false" data-stream="true" data-show-border="false" data-header="false"></div>
                </div>



                @*<table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <div class="nowrap small-text">
                                    3 Janeiro, 2013
                                           
                                </div>
                            </td>

                            <td><i class="fa-icon-comments-alt"></i></td>

                            <td>
                                <a href="#"><strong>ISG no Eu Esri
                                        2013</strong></a>

                                <div class="italic">
                                    ISG
                                           
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="nowrap small-text">
                                    2 Janeiro, 2013
                                           
                                </div>
                            </td>

                            <td><i class="fa-icon-comments-alt"></i></td>

                            <td>
                                <a href="#"><strong>ISG apresenta
                                        um novo produto
                                        GISagri</strong></a>

                                <div class="italic">
                                    ISG
                                           
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>*@
            </div>
        </div>
        <!--- ########### ## -->
        <!--- END: IN THE NEWS ## -->
        <!--- ########### ## -->
    </div>
</div>
<!-- END MAIN WRAPPER-->
